@{
    ViewBag.Title = "About";
}
<div style="margin-left: 20%">
    <h2><b>@ViewBag.Title</b></h2>
    <h3>@ViewBag.Message</h3>

    <p>This application is used to view the existing employees, create and edit employees.</p>
</div>
