@{
    ViewBag.Title = "Contact";
}
<div style="margin-left: 20%">
    <h2><b>@ViewBag.Title</b></h2>
    <h3>@ViewBag.Message</h3>

    <address>
        1/4-6 Elva Street<br />
        Strathfield, Sydney 2135<br />
        <abbr title="Phone">P:</abbr>
        040678154
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:jeevan.musku@liv.com">jeevan.musku@live.com</a>
    </address>
</div>